/* * {
  box-sizing: border-box;
}

.Banner {
  width: 100%;
  height: 275px;
  background-image: url("../images/Frame2.png");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Banner .Banner__text {
  font-size: 42px;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  animation: titleText 1s ease-in-out;
}

@media screen and (max-width: 767px) {
  .Banner {
    height: 160px;
    margin-bottom: 0;
  }

  .Banner .Banner__text {
    font-size: 26px;
  }

  .wrapper {
    flex-direction: column;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .Banner {
    height: 370px;
    margin-bottom: 0;
  }

  .Banner .Banner__text {
    font-size: 26px;
  }

  .wrapper {
    flex-direction: column;
    padding: 0;
  }
} */
* {
  box-sizing: border-box;
}

.Banner {
  /* width: 100%; */
  /* height: 100vh; */
  width: 100vw;
  height: 275px;
  background-image: url("../images/Frame4.png");
  /* background-size: cover; */
  /* object-fit: fill; */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  animation: changeImgHeight 12s ease-in-out;
  z-index: 11;
  /* margin-bottom: 20px; */
}

/* .Banner .Banner__text { */
.Banner__text {
  /* font-size: 42px;
  font-weight: 700; */
  font-style: italic;
  font-size: 24px;
  font-weight: 200;
  color: white;
  margin: 0 15%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  animation-delay: 2s;
  animation: titleText 12s ease-in-out;
}

.Banner__text__title {
  font-style: italic;
  font-size: 40px;
  font-weight: 200;
  color: white;
  margin: 0 15%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  animation: titleTitle 12s ease-in-out;
  /* animation: titleText 8s ease-in-out; */
}

.Banner__img {
  opacity: 0;
  /* width: 20%; */
  margin-left: 744px;
  margin-top: 240px;
  position: absolute;
  animation: changeCoupleHeight 12s ease-in-out;
}

.Banner__img__original {
  opacity: 0;
  /* width: 20%; */
  content: url("../images/Frame4.png");
  margin-left: 744px;
  margin-top: 240px;
  position: absolute;
  z-index: 11;
  animation: changeImgHeight 12s ease-in-out;
}

.Banner__img__back {
  /* width: 100%;
  height: 275px;
  position: absolute; 
  z-index: -2;
  animation: changeImgHeight 12s ease-in-out; */
  width: 100%;
  height: 275px;
  position: absolute;
  animation: changeBackImgHeight 12s ease-in-out;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .Banner {
    height: 160px;
    margin-bottom: 0;
  }

  /* .Banner .Banner__text {
    font-size: 26px;
  } */

  .wrapper {
    flex-direction: column;
    padding: 0;
  }
  .Banner__img__back {
    height: 160px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .Banner {
    height: 370px;
    margin-bottom: 0;
  }

  /* .Banner .Banner__text {
    font-size: 26px;
  } */

  .wrapper {
    flex-direction: column;
    padding: 0;
  }
  .Banner__img__back {
    height: 370px;
    margin-bottom: 0;
  }
}

@keyframes changeImgHeight {
  0% {
    transform: translateY(-150px);
    height: 1000px;
    /* opacity: 0; */
    background-image: url("../images/Frame4.png");
  }
  30% {
    background-image: url("../images/Frame4.png");
  }
  31% {
    background-image: url("../images/Frame6.png");
  }
  75% {
    transform: translateY(-150px);
    height: 1000px;
    background-image: url("../images/Frame6.png");
    /* opacity: 1; */
  }
  99% {
    background-image: url("../images/Frame6.png");
  }
  100% {
    transform: translateY(0px);
    height: 400px;
    /* opacity: 1; */
  }
}

@keyframes changeBackImgHeight {
  0% {
    /* transform: translateY(-150px); */
    height: 1000px;
    opacity: 0;
  }

  30% {
    /* transform: translateY(-150px); */
    height: 1000px;
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  75% {
    /* transform: translateY(-150px); */
    height: 1000px;
    /* opacity: 1; */
  }
  100% {
    /* transform: translateY(0px); */
    height: 400px;
    /* opacity: 1; */
  }
}

@keyframes changeCoupleHeight {
  0% {
    height: 390px;
  }
  15% {
    opacity: 0;
  }
  20% {
    height: 390px;
    opacity: 1;
    scale: 1.05;
  }
  30% {
    scale: 1;
  }
  31% {
    /* opacity: 0; */
    /* z-index: -2; */
  }
  75% {
    height: 390px;
    /* opacity: 1; */
  }
  77% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    height: 10%;
    opacity: 0;
  }
}

@keyframes titleTitle {
  0% {
    font-size: 64px;
    font-weight: 200;
    transform: translateY(70px);
    opacity: 0;
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    font-size: 64px;
    font-weight: 200;
  }
  100% {
    font-size: 48px;
    font-weight: 200;
  }
}

@keyframes titleText {
  0% {
    font-size: 32px;
    font-weight: 200;
    transform: translateY(70px);
    opacity: 0;
  }
  25% {
    font-size: 32px;
    font-weight: 200;
    transform: translateY(70px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    font-size: 32px;
    font-weight: 200;
  }
  100% {
    font-size: 24px;
    font-weight: 200;
  }
}
