.button {
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 8px 32px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.230);
    margin: 8px 0px 10px 250px;
}