.content {
    margin-left: 18%;
    width: 82%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 4%;
  }
 
.title {
    color: white;
    width: 100%;
    margin: 0 0 110px 0;
    font-size: 40px;
  }
  
.minititle {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.bar {
    width: 1100px;
    margin:0 auto 60px; 
    
  }
  