.content {
    margin-left: 18%;
    width: 82%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 4%;
  }
  
  .title {
    color: white;
    width: 100%;
    margin: 0 0 110px 0;
    font-size: 40px;
  }
  
  .bar {
    width: 1100px;
    margin:0 auto 60px; 
    
  }
  
  .select {
    display: flex;
    justify-content: space-between;

  }
  
  .imagebox {
    width: 49%;
  }
  
  /*.imagebox a {
    border-radius: 20px;
    overflow: hidden;
    display: block;
    line-height: 0;
  } */
  
  .image  {
    width: 100%;
    border-radius: 20px;
    height: 90%;
  }
  
  
  .image_text {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }
  
  .container {
    display: flex;
  }
  
  .wrapper {
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    align-items: flex-start;
    /* padding: 0 10px; */
  }
  